<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基于vue的日历控件</title>
    <link rel="stylesheet" href="vue-cal.css">
    <link rel="stylesheet" href="demo.css">
    <script src="vue.min.js"></script>
    <script src="vue-cal.js"></script>
</head>
<body>

<!--原始样式-->
<h1>周视图</h1>
<div class="demo-block">
    <vcal-week :date="date">
    </vcal-week>
</div>
<h1>月视图</h1>
<div class="demo-block">
    <vcal-month :date="date">
    </vcal-month>
</div>
<h1>年视图</h1>
<div class="demo-block">
    <vcal-year :date="date">
    </vcal-year>
</div>

<!--自定义模板-->
<script type="text/x-handlebars-template" id="vcal-month-mixin">
    <div class="vcal">
        <div class="vcal-header">
            <div class="vcal-info">{{vcal.info}}</div>
            <div class="vcal-btns">
                <span @click="toPrev"><</span>
                <span @click="toToday">Today</span>
                <span @click="toNext">></span>
            </div>
        </div>
        <div class="vcal-body">
            <div class="vcal-cal-entity vcal-month-entity">
                <div class="header">
                    <div class="vcal-matrix-entity week-tip" v-for="(index, wn) in wtips">{{wn}}</div>
                </div>
                <div class="container">
                    <div class="row" v-for="(ri, rdays) in mdays">
                        <vcal-month-dayrender v-for="(di, day) in rdays" :day="day" :vcal="vcal" :items="testItems(day)"></vcal-month-dayrender>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-handlebars-template" id="vcal-month-dayrender">
    <div class="vcal-matrix-entity day-entity month-day-item"
         v-bind:class="{'ds-outmonth': !day.inMonth, 'ds-today': day.text == vcal.currday, 'ds-select': vcal.sel == day.text}">
        <div class="day-tip">{{day.day}}</div>
        <div class="test-list">
            <!--<span v-for="n in 10">{{ n }} </span>-->
            <div class="test-item" v-for="item in items">{{item}}</div>
        </div>
    </div>
</script>
<script type="text/x-handlebars-template" id="vcal-year-mixin">
</script>
<script type="text/x-handlebars-template" id="vcal-week-mixin">
</script>

<!--融合样式-->
<h1>月视图(自定义)</h1>
<div class="demo-block">
    <vcal-month-mixin :date="date">
    </vcal-month-mixin>
</div>

<script src="demo.js"></script>
</body>
</html>